#hero {
  width: 100vw;
  margin-top: 15vh;
  padding-inline: 1rem; /*padding left and right*/
  background-image: url("../image/Background/scandinavian-interior-mockup-wall-decal-background 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: right;
}

#hero-inform-box {
  position: relative;
  width: 50%;
  height: 80%;
  margin-right: 1.8vw;
  padding: 2rem 2rem;
  background-color: var(--bg-secondary);
}

#hero-box-heading-2 {
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
  color: var(--tx-primary);
  font-size: 0.9rem;
  letter-spacing: 2px;
}


#hero-box-heading-1 {
  display: flex;
  font-weight: var(--fw-bold);
  color: var(--tx-secondary);
  font-size: max(4.72vw, calc(1080px * 4.72 / 1000));
  line-height: 1.3em;
  margin: 0 0;
}

#hero-box-description {
  display: flex;
  color: var(--tx-primary);
  margin-bottom: 2vh;
  font-size: min(3vw, 0.95rem);
}

#hero-buy-now-button {
  position: absolute;
  top: 75%;
  width: 13rem;
  height: min(4rem, 20%);
  font-weight: var(--fw-bold);
  color: var(--tx-tertiary);
  background-color: var(--bg-tertiary);
  cursor: pointer;
}







#section-2 {
  position: relative;
  margin-top: 10vh;
  --section2Width: 90vw;
  width: var(--section2Width);
  display: grid;
  grid-auto-columns: 3;
  grid-auto-rows: 1fr 1fr auto;
  --section2ColGap: min(1vw ,20px);
  grid-column-gap: var(--section2ColGap);
  margin-inline: 5vw;
}

#sec-2-heading,
#sec-2-description {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  grid-column: 1/4;
}

#sec-2-heading {
  font-weight: bold;
  font-size: min(1.5rem,4vw);
  color: #333333;
  grid-row: 1;
}

#sec-2-description {
  font-size: min(0.9rem,2vw);
  color: #666666;
  grid-row: 2;
}

.room-image {
  width: calc(var(--section2Width) / 3 - var(--section2ColGap) * 2);
  border-radius: 3%;
}

.room-intro-name {
  margin-top: 5vh;
  padding: 0;
  font-size: min(1.1rem,2.5vw);
  display: flex;
  justify-content: center;
}







#section-3 {
  position: relative;
  margin-top: 5vh;
  --section3Width: 96vw;
  width: var(--section3Width);
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr auto 1fr;
  margin-inline: 3vw;
  border-style: solid;
}

#sec-3-heading {
  display: flex;
  /* font-size: 40px; */
  font-weight: bold;
  /* line-height: 48px; */
  text-align: center;
  justify-content: center;
  grid-row: 1;
}

#row
{
  --section3Gap: min(1.2vw ,23px);
  grid-row: 2;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  grid-row-gap: var(--section3Gap);
}

#column-1
{
  grid-row: 1;
}
#column-2
{
  grid-row: 2;
}

#column-1,
#column-2 {
  display: relative;
  display: flex;
  flex-wrap: wrap;
}
#column-1{
  margin-bottom: min(1.2vw ,23px);
}

.product-container {
  position: relative;
  margin-right: min(1.2vw ,23px);
  background-color: #f4f5f7;
}

/* .idk:hover
{
  : #3A3A3A;
} */

.product-container * {
  margin-left: 5%;
}

.product-image {
  margin: 0;
  height: 66%;
  width: 100%;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.product-description {
  font-size: 0.9rem;
  font-weight: 500;
  color: #898989
}

.product-price,
.product-old-price {
  display: inline-block;
}

.product-price {
  font-size: 1rem;
  font-weight: 600;
  line-height: 30px;
}

.product-old-price {
  border-style: dotted;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 400;
  color: #B0B0B0
}

.sale {
  position: absolute;
  display: flex;
  margin: 0;
  top: 24px;
  left: 213px;
  width: 48px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 24px;
  color: white;
  align-items: center;
  justify-content: center;
}

.discount {
  background-color: #e97171;
}

.new {
  background-color: #2ec1ac;
}

#show-more-button {
  margin-left: 496px;
  width: 245px;
  height: 48px;
  border-style: solid;
  border-width: 1px;
  border-color: #B88E2F;
  color: #B88E2F;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}