#hero {
  width: 100%;
  padding-inline: 1rem;
  background-image: url("../image/Background/scandinavian-interior-mockup-wall-decal-background 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: right;
}

#hero-inform-box {
  width: 50%;
  padding: 2rem 2rem;
  background-color: var(--bg-secondary);
}

#hero-box-heading-2 {
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
  color: var(--tx-primary);
  letter-spacing: 2px;
}

#hero-box-heading-1 {
  font-weight: var(--fw-bold);
  color: var(--tx-secondary);
  font-size: 4em;
  line-height: 1.5em;
  margin: 0;
}

#hero-box-description {
  color: var(--tx-primary);
  margin: 0;
  margin-block-end: 2rem;
}

#hero-buy-now-button {
  width: 13rem;
  height: 4rem;
  font-weight: var(--fw-bold);
  color: var(--tx-tertiary);
  background-color: var(--bg-tertiary);
  cursor: pointer;
}