#hero {
  width: 100%;
  padding-inline: 1rem;
  margin-top: 15vh;
  background-image: url("../image/Background/scandinavian-interior-mockup-wall-decal-background 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: right;
}

#hero-inform-box {
  position: relative;
  width: 50%;
  height: 80%;
  margin-right: 1.8vw;
  padding: 2rem 2rem;
  background-color: var(--bg-secondary);
}

#hero-box-heading-2 {
  text-transform: capitalize;
  font-weight: var(--fw-semibold);
  color: var(--tx-primary);
  font-size: 0.9rem;
  letter-spacing: 2px;
}


#hero-box-heading-1 {
  display: flex;
  font-weight: var(--fw-bold);
  color: var(--tx-secondary);
  font-size: max(4.72vw, calc(1080px * 4.72 / 1000));
  line-height: 1.3em;
  margin: 0;
}

#hero-box-description {
  display: flex;
  color: var(--tx-primary);
  margin-bottom: 2vh;
  font-size: min(3vw, 0.95rem);
}

#hero-buy-now-button {
  position: absolute;
  top: 75%;
  width: 13rem;
  height: min(4rem, 20%);
  font-weight: var(--fw-bold);
  color: var(--tx-tertiary);
  background-color: var(--bg-tertiary);
  cursor: pointer;
}

#hero-buy-now-button:hover
{
  background-color: #c0a25d;
}
#hero-buy-now-button:active
{
  background-color: #8e6c1d;
}







#section-2 {
  position: relative;
  margin-top: 10vh;
  --section2Width: 90vw;
  width: var(--section2Width);
  display: grid;
  grid-auto-columns: 3;
  grid-auto-rows: 1fr 1fr auto;
  --section2ColGap: min(1vw ,20px);
  grid-column-gap: var(--section2ColGap);
  margin-inline: 5vw;
}

#sec-2-heading,
#sec-2-description {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  grid-column: 1/4;
}

#sec-2-heading {
  font-weight: bold;
  font-size: min(1.5rem,4vw);
  color: #333333;
  grid-row: 1;
}

#sec-2-description {
  font-size: min(0.9rem,2vw);
  color: #666666;
  grid-row: 2;
}

.room-image {
  width: calc(var(--section2Width) / 3 - var(--section2ColGap) * 2);
  border-radius: 3%;
}

.room-intro-name {
  margin-top: 5vh;
  padding: 0;
  font-size: min(1.1rem,2.5vw);
  display: flex;
  justify-content: center;
}







#section-3 {
  position: relative;
  width: 94vw;
  margin-top: 5vh;
  display: block;
  margin-inline: 3vw;
}

#sec-3-heading {
  display: block;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.row
{
  display: flex;
  --section3Gap: min(5vh ,25px);
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-container {
  position: relative;
  display: inline-block;
  width: 14rem;
  margin-bottom: var(--section3Gap);
  background-color: #f4f5f7;
}


.product-container * {
  margin: 0 0 0 5% ;
}

.hidden-info
{
  display: none;
  z-index: 99;
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  border-style: solid;
  background-color: rgba(52, 53, 53, 70%);
}
.action-share, .action-compare, .action-like
{
  display: inline-flex;
  height: 4%;
  width: auto;
  margin-left: 5%;
  font-size: 0.8rem;
  align-items: center;
  color: white;
}
.hidden-icon
{
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  filter: invert(100%);
}

#add-to-cart-button
{
  font-weight: 600;
  font-size: 1rem;
  color: #B88E2F;
  width: 77%;
  height: 12%;
  margin-left: calc(50% - 77% / 2);
  margin-top: 55%;
  margin-bottom: 5%;
}

.product-container:hover
{
  .hidden-info
  {
    display: block;
  }
}

.product-image {
  margin: 0;
  height: 66%;
  width: 100%;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.product-description {
  font-size: 0.9rem;
  font-weight: 500;
  color: #898989
}

.product-price,
.product-old-price {
  display: inline;
}

.product-price {
  font-size: 1rem;
  font-weight: 600;
}

.product-old-price {
  width: 1rem;
  margin-left: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #B0B0B0
}

.sale {
  position: absolute;
  display: flex;
  margin: 0;
  top: 5%;
  left: 73%;
  width: 48px;
  height: 48px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
}

.discount {
  background-color: #e97171;
}

.new {
  background-color: #2ec1ac;
}

#show-more-button {
  --buttonWidth: min(50%, 240px);
  display: block;
  width: var(--buttonWidth);
  margin-left: calc(47vw - var(--buttonWidth)/2);
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #B88E2F;
  color: #B88E2F;
  font-size: 1rem;
  font-weight: 600;
}
