@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Reset styling */

:root {
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  font-size: calc(1rem + 0.5dvw);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.material-symbols-outlined {
  font-size: 1.5rem;
}


header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
  margin-inline: 3rem;
}

#page-logo {
  display: flex;
  align-items: center;
  user-select: none;
}

#branch-logo {
  display: flex;
  align-items: center;
}

#brand-name {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--fw-bold);
  margin-block: 0;
}

#page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#support-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

#page-nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-block: 0;
}

#support-nav-list {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: right;
  margin-block: 0;
}

#support-nav-list li {
  margin-inline-start: 1rem;
}


#page-nav-list li a,
#support-nav-list li a {
  font-weight: var(--fw-medium);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-nav-list li a:hover,
#support-nav-list li a:hover {
  font-weight: var(--fw-bold);
}

#hero {
  width: 100%;
}

#hero-background {
  width: 100%;
  user-select: none;
}